.UploadModule {
    margin-top: 5px;
}
.UploadSection {
    display: block;
    /* max-width: 210px; */
}
.Caption {
    margin-top: 10px;
    border: none;
    height: 30px;
    width: 290px;
    background-color: #fafafa;
    outline: none;
    white-space: normal;
}

.ProgressBar {
    margin-top: 5px;
    margin-bottom: 1px;
    width: 290px;
}

.FilePicker {
    width: 90px;
    border: none;
}

.UploadChecker {
    /* margin-left : 5px; */
    
}
.Checker {
    display: flex;
    
}
.RequiredColor {
    margin-left: 5px;
    color: red;
    display: flex;
}