.Post {
    width: 614px;
    /* height: 889px; */
    border:solid 1px #dbdbdb;
    border-radius: 3px;
    background-color: white;
}

.Post header {
    height: 60px;
    display: flex;

}

.HeaderUserImg {
    margin: 13px;
    /* margin-left: 10px; */
}

.HeaderUserID {
    margin-top: 0px;
}

.HeaderIcon {
    margin-top: 20px;
    margin-left: 495px;
}

.Info {
    display: flex;
    height: 40px;
    margin-top: 4px;
    padding-right: 10px;
    padding-left: 10px;
}

.Like {
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 6px;
}
.SeeComment {
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 16px;
}
.Share {
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 16px;
}
.Save {
    padding: 6px;
    margin-left: 452px;
}
.Liked {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 4px;
    display: flex;
}
.LikedBy {
    padding-left: 6px;
    
}
.LikedUser{
    padding-left: 5px;
}


.UserBoard {
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    
}
.UserID{
    padding-left: 6px;
}
.UserComment{
    padding-left: 5px;
}

.GuestSection{
    padding-right: 10px;
    padding-left: 10px; 
    display: flex;
}
.GuestId {
    padding-left: 6px;
}
.GuestComment{
    padding-left: 5px;
}
.CommentLike{
    margin-left: 448px;
}


.Time {
    /* padding-right: 10px; */
    /* padding-left: 10px;/ */
    border-bottom: solid 1px #f1f1f1;
    padding: 10px;
}
.TimePass{
    padding-left: 6px;
    opacity: 40%;
    font-size: 8pt;
}

.AddComment{
    height: 56px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top:4px;
    display: flex;
}
.AddComment input{
    padding-left: 6px;
    width: 551.84px;
    height: 18px;
    border:none;
    margin: auto;
    outline: none;

}
.AddComment button{
    background-color: rgba(0,0,0,0);
    border: none;
    color: #0095f6;
    opacity: 40%;
}