.Post {
    width: 614px;
    border:solid 1px #dbdbdb;
    border-radius: 3px;
    background-color: white;
    margin-top: 60px;
    position: relative;
}

.Post header {
    height: 60px;
    display: flex;
}

.HeaderUserImg {
    margin: 12px;
}
.HeaderUserImg img {
    object-fit: cover;
    border-radius: 50%;
}

.HeaderUserID {
    margin-top: 20px;
    font-weight:600;
    width: 525px;
}

.HeaderIcon {
    margin-top: 20px;
}

.PostImg{
    text-align: center;
    color: black;
}
.PostImg img{
    text-align: center;
    max-height: 616px;
    max-width: 614px;
    /* min-width: 614px;
    min-height: 614px;; */
}

.Info {
    display: flex;
    height: 40px;
    margin-top: 4px;
    padding-right: 10px;
    padding-left: 10px;
}

.Like {
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 6px;
}
.SeeComment {
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 16px;
}
.Share {
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 16px;
}
.Save {
    padding: 6px;
    margin-left: 452px;
}
.Liked {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 4px;
    display: flex;
}
.LikedBy {
    padding-left: 6px;
    
}
.LikedUser{
    padding-left: 5px;
}


.UserBoard {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 4px;
    display: flex;
    
}
.UserID{
    padding-left: 6px;
    font-weight:600;
}

.Comment{
    display: flex;
}

.UserComment{
    padding-left: 5px;
    width: 500px;
}
.UserCommentHide{
    padding-left: 5px;
    width: 300px;
    text-overflow:ellipsis;
    white-space:nowrap; 
    overflow:hidden
}
.Comment button {
    background-color: rgba(0,0,0,0);
    border: none;
    opacity: 40%;
}
.GuestSection{
    padding-right: 10px;
    padding-left: 10px; 
}
.GuestPartition{
    display: flex;
}
.GuestInfo{
    display: flex;
    width: 570px;
}
.GuestId {
    padding-left: 6px;
    font-weight:600;
    max-width:100px;
}
.GuestComment{
    padding-left: 5px;
    max-width: 420px;
    /* text-overflow:ellipsis;
    white-space:nowrap; 
    overflow:hidden */
}
.CommentLike {
    padding-left: 5px;
}

.Time {
    padding-left: 10px;
    border-bottom: solid 1px #f1f1f1;
    padding: 10px;
}
.TimePass{
    padding-left: 6px;
    opacity: 60%;
    font-size: 8pt;
}

.AddComment{
    height: 56px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top:4px;
    display: flex;
}
.AddComment input{
    padding-left: 6px;
    width: 551.84px;
    height: 18px;
    font-weight: 600;    
    border:none;
    margin: auto;
    outline: none;
    opacity: 60%;

}
.AddComment button{
    background-color: rgba(0,0,0,0);
    border: none;
    font-weight: 600;    
    color: #0095f6;
    /* opacity: 40%; */
}

