.SignUp {
    display: flex;
    flex-direction: column;
}
.SignIn{
    display: flex;
    flex-direction: column;
}

.AppBody {
    width: 1000px;
    margin-top: 50px;
    display: flex;
    margin:auto;
}

.AppPost{
    margin:auto;
}
.true {
    position: fixed;
    
}
.trueinfo{
    border-bottom: solid 1px #dbdbdb;
}

.AccountModule {
    width: 293px;
    margin-top: 100px;
    margin-right: 35px;
    height: 110px;
}

.LoginContainer {
    position: fixed;
}

